@{ Layout = "~/Views/Shared/_MainLayout.cshtml"; }
@section styles { @RenderSection("styles", false) }
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
@section scripts { @RenderSection("scripts", false) }